
<div class="dashboard-container">

  <div class="dashboard-header">
    <h1>Counselor Dashboard</h1>
    <p>Manage all student leads</p>
  </div>

  <div class="stats-grid">

    <div class="stat-card" [class.active-card]="activeFilter === 'All'" (click)="filterTable('All')">
      <h2>{{ leads.length }}</h2>
      <p>Total Leads</p>
    </div>

    <div class="stat-card" [class.active-card]="activeFilter === 'Today'"(click)="filterTable('Today')">
      <h2>{{ todayLeads }}</h2>
      <p>Today Leads</p>
    </div>

    <div class="stat-card"[class.active-card]="activeFilter === 'Converted'" (click)="filterTable('Converted')">
      <h2>{{ getStatusCount('Converted') }}</h2>
      <p>Converted</p>
    </div>

    <div class="stat-card"[class.active-card]="activeFilter === 'Admission In Progress'" (click)="filterTable('Admission In Progress')">
      <h2>{{ getStatusCount('Admission In Progress') }}</h2>
      <p>In Progress</p>
    </div>

    <div class="stat-card"[class.active-card]="activeFilter === 'Contacted'" (click)="filterTable('Contacted')">
  <h2>{{ getStatusCount('Contacted') }}</h2>
  <p>Contacted</p>
</div>

<div class="stat-card" [class.active-card]="activeFilter === 'Call Back'" (click)="filterTable('Call Back')">
  <h2>{{ getStatusCount('Call Back') }}</h2>
  <p>Call Back</p>
</div>

<div class="stat-card" [class.active-card]="activeFilter === 'Interested'" (click)="filterTable('Interested')">
  <h2>{{ getStatusCount('Interested') }}</h2>
  <p>Interested</p>
</div>

<div class="stat-card"[class.active-card]="activeFilter === 'Not Interested'" (click)="filterTable('Not Interested')">
  <h2>{{ getStatusCount('Not Interested') }}</h2>
  <p>Not Interested</p>
</div>

 <div class="stat-card">
  <h2>₹0</h2>
  <p>Revenue</p>
</div>

  </div>

  <div class="search-box">
    <input
      type="text"
      placeholder="Search student..."
      [(ngModel)]="searchTerm"
      (input)="searchLead()"
    >
  </div>

  <button class="export-btn" (click)="exportExcel()">
  ⬇ Export Current Table
</button>

  <div class="table-container" id="leadTable">

    <table>

      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>State</th>
          <th>City</th>
          <th>Level</th>
          <th>Course</th>
          <th>Status</th>
          <th>Remark</th>
        </tr>
      </thead>

   <tbody>

  <ng-container *ngFor="let group of groupedLeads">

    <tr class="date-row">
      <td colspan="9">
        📅 {{ group.date }}
      </td>
    </tr>

    <tr
      *ngFor="let lead of group.leads"
      class="lead-row"
      (click)="openLeadDetails(lead)"
    >

      <td>{{ lead.name }}</td>
      <td>{{ lead.email }}</td>
      <td>{{ lead.mobile }}</td>
      <td>{{ lead.state }}</td>
      <td>{{ lead.city }}</td>
      <td>{{ lead.level }}</td>
      <td>{{ lead.course }}</td>

      <td (click)="$event.stopPropagation()">
        <select
          class="status-select"
          [ngClass]="getStatusClass(lead.admissionStatus)"
          [(ngModel)]="lead.admissionStatus"
          (change)="updateLeadStatus(lead)"
        >
          <option value="Not Started">Not Started</option>
          <option value="Contacted">Contacted</option>
          <option value="Call Back">Call Back</option>
          <option value="Interested">Interested</option>
          <option value="Admission In Progress">Admission In Progress</option>
          <option value="Converted">Converted</option>
          <option value="Not Interested">Not Interested</option>
        </select>
      </td>

      <td (click)="$event.stopPropagation()">
        <input
          class="remark-input"
          type="text"
          placeholder="Add remark..."
          [(ngModel)]="lead.remark"
          (change)="updateLeadStatus(lead)"
        >
      </td>

    </tr>

  </ng-container>

  <tr *ngIf="filteredLeads.length === 0">
    <td colspan="9" class="empty-message">
      No leads found yet.
    </td>
  </tr>

</tbody>

    </table>

  </div>

</div>

<div class="modal-overlay" *ngIf="selectedLead">

  <div class="lead-modal">

    <button class="modal-close" (click)="closeLeadDetails()">
      ×
    </button>

    <h2>Student Details</h2>

    <div class="detail-grid">

      <div>
        <label>Name</label>
        <p>{{ selectedLead.name }}</p>
      </div>

      <div>
        <label>Email</label>
        <p>{{ selectedLead.email }}</p>
      </div>

      <div>
        <label>Mobile</label>
        <p>{{ selectedLead.mobile }}</p>
      </div>

      <div>
        <label>State</label>
        <p>{{ selectedLead.state }}</p>
      </div>

      <div>
        <label>City</label>
        <p>{{ selectedLead.city }}</p>
      </div>

      <div>
        <label>Level</label>
        <p>{{ selectedLead.level }}</p>
      </div>

      <div>
        <label>Course</label>
        <p>{{ selectedLead.course }}</p>
      </div>

      <div>
        <label>Status</label>
        <p>{{ selectedLead.admissionStatus || 'Not Started' }}</p>
      </div>

      <div>
  <label>Remark</label>
  <p>{{ selectedLead.remark || 'No remark added' }}</p>
</div>

      <div class="modal-actions">

  <a
    class="call-btn"
    [href]="'tel:+91' + selectedLead.mobile"
  >
    📞 Call Student
  </a>

  <a
    class="whatsapp-btn"
    [href]="'https://wa.me/91' + selectedLead.mobile"
    target="_blank"
  >
    💬 WhatsApp
  </a>

</div>  

    </div>

  </div>

</div>